<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftyWorkflow.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Workflows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CCD082C3205579AB00CC66E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCD082CB205579AB00CC66E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCFE62CF20534040000B057B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCFE62E320534040000B057B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
